doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Page Not Found
    link(rel='stylesheet' href='/css/main.css')
header.main-header
    nav.main-nav-list
        li.nav-item
            if from == 'survey'
                a.active(href='/survey') Survey
            else
                a(href='/survey') Survey
        li.nav-item
            if from == 'about'
                a.active(href='/about') About
            else
                a(href='/about') About
    img(src='imgs/personalityLogo.png')
h2 #{from}